x-jwt: &jwt-env
    Jwt__Issuer: "DeliveryManagmentSystem.AuthService"
    Jwt__Audience: "DeliveryManagmentSystem.Frontend"
    Jwt__PublicKey: "-----BEGIN PUBLIC KEY----- MFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgAElaSojkTx7x9ud4Q6H8RnTP22yNRs tksLUL6MXApsm7J/lC4AdCNYR422CnS3UUqpRPkxPESyULdl4Woc7bXKog== -----END PUBLIC KEY-----"

services:
  # Elasticsearch
    elasticsearch:
        image: docker.elastic.co/elasticsearch/elasticsearch:9.0.0
        container_name: elasticsearch-deliverysystem
        environment:
          - discovery.type=single-node
          - xpack.security.enabled=false
        ports:
          - "9200:9200"

  # Kibana
    kibana:
        image: docker.elastic.co/kibana/kibana:9.0.0
        container_name: kibana-deliverysystem
        environment:
          - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
        ports:
          - "5601:5601"
        depends_on:
          - elasticsearch

  # Kafka
    kafka:
        image: apache/kafka:latest
        container_name: kafka-develiverysystem
        ports:
          - "9092:9092" 
        environment:
            KAFKA_NODE_ID: 1
            KAFKA_PROCESS_ROLES: broker,controller

            # Required in KRaft mode: tells Kafka which listener is the controller listener
            KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER

            # Listener definitions (broker + controller)
            KAFKA_LISTENERS: PLAINTEXT://:9092,CONTROLLER://:9093

            # How the broker will advertise itself to clients
            KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092

            # Security protocols assigned to each listener (must include CONTROLLER)
            KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,CONTROLLER:PLAINTEXT

            # KRaft quorum configuration for a single-node cluster
            KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka:9093

            # Required replication settings for single-node Kafka
            KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
            KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
            KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1

            KAFKA_LOG_DIRS: /var/lib/kafka/data
            KAFKA_METADATA_LOG_DIR: /var/lib/kafka/metadata

            # Only for testing
            KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true"

        volumes:
            - kafka-data:/var/lib/kafka

  # Kafka UI
    kafka-ui:
        image: provectuslabs/kafka-ui:latest
        container_name: kafka-ui
        ports:
          - "8080:8080" 
        environment:
          - KAFKA_CLUSTERS_0_NAME=local
          - KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS=kafka:9092
        depends_on:
          - kafka

  # SQL Server
    sqldb:
        image: mcr.microsoft.com/mssql/server:2022-latest
        container_name: sqldb
        environment:
            SA_PASSWORD: "Delivery2025!"
            ACCEPT_EULA: "Y"
        ports:
          - "1433:1433"

  # CourierService
    courierservice:
        build:
            context: .
            dockerfile: CourierService.Api/Dockerfile
        container_name: courierservice
        ports:
          - "7010:8080"
        environment:
            <<: *jwt-env
            ASPNETCORE_ENVIRONMENT: "Production"
            # Connection string to MSSQL conteiner
            ConnectionStrings__DefaultConnection: "Server=sqldb;Database=DeliveryManagmentSystem_CourierDb;User Id=sa;Password=Delivery2025!;TrustServerCertificate=True;"
        depends_on:
          - sqldb

  # DeliveryService.Command
    deliveryservicecommand:
        build:
            context: .
            dockerfile: DeliveryService.Command.Api/Dockerfile
        container_name: deliveryservice-command
        ports:
          - "7011:8080"
        environment:
            <<: *jwt-env
            ASPNETCORE_ENVIRONMENT: "Production"
            # Connection string to MSSQL conteiner
            ConnectionStrings__DefaultConnection: "Server=sqldb;Database=DeliveryManagmentSystem_DeliveryCommandDb;User Id=sa;Password=Delivery2025!;TrustServerCertificate=True;"
            # Kafka config
            Kafka__BootstrapServers: "kafka:9092"
        depends_on:
          - sqldb
          - kafka

  # DeliveryService.Query
    deliveryservicequery:
        build:
            context: .
            dockerfile: DeliveryService.Query.Api/Dockerfile
        container_name: deliveryservice-query
        ports:
          - "7012:8080" 
        environment:
            <<: *jwt-env
            # Elasticsearch
            Elastic__Uri: "http://elasticsearch:9200"
        depends_on:
          - elasticsearch

  # DeliveryService.Query.SyncWork
    deliveryservicequerysyncworker:
        build:
            context: .
            dockerfile: DeliveryService.Query.SyncWorker/Dockerfile
        container_name: deliveryservice-query-syncworker
        ports:
          - "7013:8080"
        environment:
            # Kafka config
            Kafka__BootstrapServers: "kafka:9092"
            # Elasticsearch
            Elastic__Uri: "http://elasticsearch:9200"
        depends_on:
          - kafka
          - elasticsearch

  # UserService
    userservice:
        build:
            context: .
            dockerfile: UserService.Api/Dockerfile
        container_name: userservice
        ports:
          - "7014:8080"
        environment:
            <<: *jwt-env
            Jwt__PrivateKey: "-----BEGIN EC PRIVATE KEY----- MHcCAQEEIKkOyBtD67AeTs7zGLwfZW9NDO9l+v3+6oUASTFzTEwJoAoGCCqGSM49 AwEHoUQDQgAElaSojkTx7x9ud4Q6H8RnTP22yNRstksLUL6MXApsm7J/lC4AdCNY R422CnS3UUqpRPkxPESyULdl4Woc7bXKog== -----END EC PRIVATE KEY-----"
            Jwt__ExpiresInMinutes: 60000
            # Connection string to MSSQL conteiner
            ConnectionStrings__DefaultConnection: "Server=sqldb;Database=DeliveryManagmentSystem_UserDb;User Id=sa;Password=Delivery2025!;TrustServerCertificate=True;"
            EnableSwagger: true
        depends_on:
          - sqldb
